input.sf-input[type='file']::file-selector-button,
.sf-button:where(a, button, input[type='button'], input[type='submit'], input[type='reset'])
{
  display: inline-block;

  line-height: 1;

  color: hsl(var(--sf-form-c-txt));
  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-bd) / 20%);

  text-align: center;
  text-decoration: none;
}
