button.small { height: calc(var(--sf-input-height) * 0.75) }

.button,
input[type="color"],
input[type="file"]::-webkit-file-upload-button
{
  cursor: pointer;

  background: none;
  color: hsl(var(--sf-c-txt));

  padding-block: var(--sf-p-input-block);
  padding-inline: var(--sf-p-input-inline);

  outline: none;

  background: hsl(var(--sf-c-input) / 4%);
  border: 1px solid hsl(var(--sf-c-input) / 20%);
  border-radius: var(--sf-bd-radius);
}
.button:focus:not(:disabled),
input[type="color"]:focus:not(:disabled),
input[type="file"]:focus:not(:disabled)::-webkit-file-upload-button
{
  box-shadow: 0 0 2px hsl(var(--sf-c-info));
  border-color: hsl(var(--sf-c-info) / 40%);
}
.button:hover:not(:disabled),
input[type="color"]:hover:not(:disabled),
input[type="file"]:hover:not(:disabled)::-webkit-file-upload-button
{
  background: hsl(var(--sf-c-input) / 10%);
}
.button:disabled,
input[type="color"]:disabled,
input[type="file"]:disabled::-webkit-file-upload-button
{
  text-fill-color: hsl(var(--sf-c-txt));
  opacity: var(--sf-disabled);
}
