label.sf-radio, label.sf-checkbox { box-sizing: border-box }

label.sf-radio *,
label.sf-radio *::before,
label.sf-radio *::after,

label.sf-checkbox *,
label.sf-checkbox *::before,
label.sf-checkbox *::after
{ box-sizing: inherit }

label.sf-radio,
label.sf-checkbox
{
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  gap: var(--sf-gap);

  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: 1;

  text-transform: none;
}

label.sf-radio input[type='radio'],
label.sf-checkbox input[type='checkbox'],
label.sf-radio input[type='radio']::before,
label.sf-checkbox input[type='checkbox']::before
{
  width: 1em;
  height: 1em;
}

label.sf-radio input[type='radio'] ~ *,
label.sf-checkbox input[type='checkbox'] ~ *
{ cursor: pointer }

label.sf-radio input[type='radio'],
label.sf-checkbox input[type='checkbox']
{
  appearance: none;
  touch-action: manipulation;

  position: relative;

  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: 1;

  border: 0;
  background: none;

  padding: 0;
  margin: 0;
}
label.sf-radio input[type='radio']::before,
label.sf-checkbox input[type='checkbox']::before
{
  top: 0;
  left: 0;
  position: absolute;

  width: 1em;
  height: 1em;
  content: '';

  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-bd) / 20%);
}
label.sf-radio input[type='radio']::after,
label.sf-checkbox input[type='checkbox']::after
{
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  position: absolute;

  content: '';
}

label.sf-radio input[type='radio']:checked::before,
label.sf-checkbox input[type='checkbox']:checked::before
{ border-color: hsl(var(--sf-form-c-info)) }

label.sf-radio input[type='radio']:checked::after,
label.sf-checkbox input[type='checkbox']:checked::after
{ background: hsl(var(--sf-form-c-info)) }

label.sf-radio input[type='radio']::before,
label.sf-radio input[type='radio']::after
{ border-radius: 50% }

label.sf-radio input[type='radio']:disabled,
label.sf-radio input[type='radio']:disabled ~ *,
label.sf-checkbox input[type='checkbox']:disabled,
label.sf-checkbox input[type='checkbox']:disabled ~ *
{
  cursor: not-allowed;
  -webkit-tap-highlight-color: transparent;
  opacity: var(--sf-disabled);
}

.sf-radio input:focus-visible,
.sf-checkbox input:focus-visible
{
  border-color: transparent;
  outline: 2px solid hsl(var(--sf-form-c-info));
  outline-offset: 2px;
}
.sf-radio input:focus-visible { border-radius: 50% }
