label.sf-radio,
label.sf-checkbox
{ line-height: 1 }

label.sf-radio input[type='radio'],
label.sf-checkbox input[type='checkbox'],
label.sf-radio input[type='radio']::before,
label.sf-checkbox input[type='checkbox']::before
{
  width: 1em;
  height: 1em;
}

label.sf-radio input[type='radio'] ~ *,
label.sf-checkbox input[type='checkbox'] ~ *
{ cursor: pointer }

label.sf-radio input[type='radio'],
label.sf-checkbox input[type='checkbox']
{
  appearance: none;

  position: relative;

  border: 0;
  background: none;

  padding: 0;
  margin: 0;
}
label.sf-radio input[type='radio']::before,
label.sf-checkbox input[type='checkbox']::before
{
  top: 0;
  left: 0;
  position: absolute;

  width: 1em;
  height: 1em;
  content: '';

  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-border) / 20%);
}
label.sf-radio input[type='radio']::after,
label.sf-checkbox input[type='checkbox']::after
{
  top: 3px;
  left: 3px;
  position: absolute;

  width: calc(1em - 6px);
  height: calc(1em - 6px);

  content: '';
}

label.sf-radio input[type='radio']:checked::before,
label.sf-checkbox input[type='checkbox']:checked::before
{ border-color: hsl(var(--sf-form-c-info)) }

label.sf-radio input[type='radio']:checked::after,
label.sf-checkbox input[type='checkbox']:checked::after
{ background: hsl(var(--sf-form-c-info)) }

label.sf-radio input[type='radio']::before,
label.sf-radio input[type='radio']::after
{ border-radius: 50% }
