:root {
  --sf-form-fz: 0.9375rem;
  --sf-disabled: 0.4;
}

.sf-input[type='color'] {
  cursor: pointer;

  width: 32px;
  height: 32px;

  background: none;
  background: conic-gradient(from 0, yellow, darkorange, red, fuchsia, blue, cyan, lime, yellowgreen, yellow);

  padding: 0;

  border: 0;
  border-radius: 50%;
}

.sf-input[type='color']:disabled {
  cursor: not-allowed;
  opacity: var(--sf-disabled);
}

.sf-input[type='color']::-webkit-color-swatch-wrapper { padding: 3px }
.sf-input[type='color']::-webkit-color-swatch {
  border: 2px solid hsl(var(--sf-c-form-white));
  border-radius: 50%;
}
.sf-input[type='color']::-moz-color-swatch {
  border: 2px solid hsl(var(--sf-c-form-white));
  border-radius: 50%;
}

.sf-input[type='color']:focus-visible { border-radius: 50% }

/* /// */

html.var .sf-input[type='color']:disabled { opacity: 0.4 }
html.var .sf-input[type='color']::-webkit-color-swatch { border: 2px solid hsl(0, 0%, 100%) }
html.var .sf-input[type='color']::-moz-color-swatch { border: 2px solid hsl(0, 0%, 100%) }
