input[type="color"] {
  appearance: none;
  padding: 3px;

  border: 1px solid hsla(var(--sf-c-input), 0.2);
  border-radius: var(--sf-bd-radius);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: var(--sf-bd-radius);
}
