:root {
  --sf-form-ff: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --sf-form-fz: 0.9375rem;
  --sf-disabled: 0.4;
  --sf-form-radius: 3px;
}

.sf-input[type='file'] {
  cursor: pointer;

  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: 1;

  border: 0;

  width: auto;
  max-width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sf-input[type='file']::file-selector-button {
  cursor: pointer;

  display: inline-block;

  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: 1;

  text-align: center;
  text-transform: none;
  text-decoration: none;

  color: hsl(var(--sf-form-c-txt));
  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-bd) / 20%);

  height: 32px;

  border-radius: var(--sf-form-radius);
}
.sf-input[type='file']:focus-visible { outline: none }
.sf-input[type='file']:focus-visible::file-selector-button {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

.sf-input[type='file']:disabled {
  cursor: not-allowed;
  opacity: var(--sf-disabled);
}
.sf-input[type='file']:disabled::file-selector-button {
  cursor: not-allowed;
}

/* /// */

html.var .sf-input[type='file'] {
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0; /* required */
}
html.var .sf-input[type='file']::file-selector-button {
  font-size: 15px;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: hsl(0, 0%, 10%);
  background: hsla(0, 0%, 100%, 0.2);
  border: 1px solid hsla(0, 0%, 10%, 0.2);

  border-radius: 3px;
}
html.var .sf-input[type='file']:focus-visible::file-selector-button { outline: 1px solid hsl(200, 100%, 60%) }

html.var .sf-input[type='file']:disabled { opacity: 0.4 }
