input.sf-input[type='file']::file-selector-button,
input:where(.sf-input:not([type='radio'], [type='checkbox'], [type='color'], [type='file'], [type='image'], [type='range'])),
.sf-button:where(a, button, input[type='button'], input[type='submit'], input[type='reset']),
select.sf-select,
textarea.sf-textarea
{
  padding: var(--sf-form-p-input-block) var(--sf-form-p-input-inline);
}

input.sf-input[type='file']::file-selector-button,
:where(
  .sf-button:where(a, button, input[type='button'], input[type='submit'], input[type='reset']),
  label.sf-radio input[type='radio']::before,
  label.sf-checkbox input[type='checkbox']::before,
  select.sf-select,
  textarea.sf-textarea
)
{
  border-radius: var(--sf-form-radius);
}
