input:where(.sf-input:not([type='radio'], [type='checkbox'], [type='color'], [type='file'], [type='image'], [type='range'])) {
  color: hsl(var(--sf-form-c-txt));
  background: hsl(var(--sf-form-c-bg) / 20%);

  border: 1px solid;
  border-color: transparent transparent hsl(var(--sf-form-c-border) / 20%);
  border-radius: 0;

  outline: none;

  width: 100%;

  transition: border 0.1s ease-out;
}

:where(input.sf-input:not([type='radio'], [type='checkbox'], [type='color'], [type='file'], [type='image']))::placeholder { color: hsl(var(--sf-form-c-txt) / 40%) }
:where(input.sf-input:not([type='radio'], [type='checkbox'], [type='color'], [type='file'], [type='image'])):placeholder-shown {
  border-color: hsl(var(--sf-form-c-border) / 20%);
  border-radius: var(--sf-form-radius);
}

:where(input.sf-input:not([type='radio'], [type='checkbox'], [type='color'], [type='file'], [type='image'])):focus {
  border-color: transparent transparent hsl(var(--sf-form-c-info));
  border-radius: 0;
  outline: none;
}
