/* === disabled */
:disabled,
label.sf-radio input[type='radio']:disabled ~ *,
label.sf-checkbox input[type='checkbox']:disabled ~ *,
.sf-switch input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input:where([type='checkbox'], [type='radio']):disabled ~ *
{ opacity: var(--sf-disabled) }

label.sf-radio input[type='radio']:disabled ~ *,
label.sf-checkbox input[type='checkbox']:disabled ~ *,
.sf-switch input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input:where([type='checkbox'], [type='radio']):disabled ~ *
{ cursor: not-allowed }
/* /== disabled */

/* === focus-visible */
.sf-button:where(a, button, input[type='button'], input[type='submit'], input[type='reset']):focus-visible {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

/* datetime */
.sf-input:focus-visible::-webkit-calendar-picker-indicator {
  outline: none;
}

/* radio / checkbox */
.sf-radio input:focus-visible,
.sf-checkbox input:focus-visible
{
  border-color: transparent;
  outline: 2px solid hsl(var(--sf-form-c-info));
  outline-offset: 2px;
}

.sf-radio input:focus-visible { border-radius: 50% }

/* switch */
.sf-switch input:where([type='checkbox'], [type='radio']):focus-visible {
  border-color: transparent;
  outline: 2px solid hsl(var(--sf-form-c-info));
}
.sf-switch:not(.multiple) input:where([type='checkbox'], [type='radio']):focus-visible {
  border-radius: calc(var(--sf-form-switch-size) / 2)
}

/* select */
:where(select.sf-select):focus-visible {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

/* textarea */
:where(textarea.sf-textarea):focus-visible {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

/* file */
input:where(.sf-input[type='file']):focus-visible {
  outline: none;
}
input:where(.sf-input[type='file']):focus-visible::file-selector-button {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

/* other */
input:where(.sf-input:where([type='color'], [type='image'], [type='range'])):focus-visible {
  outline: 2px solid hsl(var(--sf-form-c-info));
  outline-offset: 2px;
  border-radius: var(--sf-form-radius);
}

/* /== focus-visible */
