input[type="range"] {
  appearance: none;
  border: 0;
  padding: 0;
  background: hsl(var(--sf-c-input) / 10%);
  height: 1em;

  border-radius: calc(1em / 2);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: hsl(var(--sf-c-white));
  border: 0;

  box-shadow: 0 3px 8px 0 hsl(var(--sf-c-input) / 30%);

  border-radius: 50%;
}
