select.sf-select {
  font-size: 0.9375rem;

  color: hsl(var(--sf-form-c-txt));
  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-border) / 20%);

  width: 100%;

  overflow: auto;
}
