:root {
  --sf-form-ff: 'Inter', ui-sans-serif, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sf-form-fz: 0.9375rem;
  --sf-lh-normal: 1.1875;
  --sf-disabled: 0.4;
  --sf-form-radius: 3px;
  --sf-form-p-input-block: 0.5em;
  --sf-form-p-input-inline: 0.5em;
}

.sf-select,
.sf-select option
{
  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: var(--sf-lh-normal);

  text-transform: none;
}
.sf-select { padding: var(--sf-form-p-input-block) var(--sf-form-p-input-inline) }
.sf-select option { padding: calc(var(--sf-form-p-input-block) / 2) var(--sf-form-p-input-inline) }
.sf-select optgroup { padding: calc(var(--sf-form-p-input-block) / 2) 0 0 }

.sf-select {
  cursor: pointer;

  background: hsl(var(--sf-form-c-bg) / 20%);

  border-width: 1px;
  border-style: solid;
  border-color: hsl(var(--sf-form-c-bd) / 20%);
  border-radius: 0;

  width: 100%;
  height: auto;

  overflow: auto;
}

.sf-select:not([multiple]) {
  height: 32px;
  padding: 0 var(--sf-form-p-input-inline);
  border-width: 0 0 1px;
}

.sf-select::-ms-expand {
  border: 0;
  background: none;
}

.sf-select:focus-visible {
  outline: 1px solid hsl(var(--sf-form-c-info));
  outline-offset: -1px;
}

.sf-select:disabled {
  cursor: not-allowed;
  opacity: var(--sf-disabled);
}

/* /// */

html.var .sf-select,
html.var .sf-select option
{
  font-size: 15px;
  font-family: 'Inter', ui-sans-serif, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
html.var .sf-select:not([multiple]) { padding: 0 0 0 8px }
html.var .sf-select { padding: 8px 0 8px 8px }

html.var .sf-select {
  color: hsl(0, 0%, 10%);
  background: hsla(0, 0%, 90%, 0.2);
  border-color: hsla(0, 0%, 10%, 0.2);
}

html.var .sf-select:disabled { opacity: 0.4 }
