.switch {
  --sf-switch-size: 1em;

  cursor: pointer;

  position: relative;

  display: grid;
  grid-template-columns: calc(var(--sf-switch-size) * 2) max-content;
  grid-template-rows: var(--sf-switch-size);

  align-items: center;
  justify-content: start;

  width: max-content;
}
.switch[disabled] { cursor: not-allowed }
.switch input[type="checkbox"] {
  appearance: none;

  border: 0;
  background: none;
  outline: none;

  padding: 0;
  margin: 0;
}
.switch input[type="checkbox"]::before {
  top: 0;
  left: 0;
  position: absolute;

  width: calc(var(--sf-switch-size) * 2);
  height: var(--sf-switch-size);
  content: '';

  background: hsl(var(--sf-c-input) / 20%);
  border-radius: calc(var(--sf-switch-size) / 2);
}
.switch input[type="checkbox"]::after {
  top: 2px;
  left: 2px;
  position: absolute;

  width: calc(var(--sf-switch-size) - 2px * 2);
  height: calc(var(--sf-switch-size) - 2px * 2);

  content: '';

  background: hsl(var(--sf-c-white));
  border-radius: calc(var(--sf-switch-size) / 2);
  box-shadow: 0 0 0 1px hsl(var(--sf-c-white));

  transition: transform 0.05s ease-in;
}
.switch input[type="checkbox"]:checked::before {
  background: hsl(var(--sf-c-info));
}
.switch input[type="checkbox"]:checked::after {
  transform: translate3d(var(--sf-switch-size), 0, 0);
  background: hsl(var(--sf-c-white));
}
.switch input[type="checkbox"]:disabled {
  opacity: var(--sf-disabled);
}

.switch[multiple] {
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.switch[multiple] .switch-toggle {
  gap: 0;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;

  box-shadow: 1px 2px 8px 0 hsl(var(--sf-c-input) / 15%);
}
.switch[multiple] .switch-toggle label {
  position: relative;
}
.switch[multiple] .switch-toggle span {
  cursor: pointer;

  display: grid;
  align-items: center;
  justify-content: center;

  font-size: var(--sf-txt-small);

  min-width: 2rem;

  padding-block: var(--sf-p-input-block);
  padding-inline: var(--sf-p-input-inline);

  background: hsl(var(--sf-c-input) / 5%);
}
.switch[multiple] input[type="radio"] {
  top: 0;
  left: 0;
  position: absolute;
  appearance: none;

  background: none;
  outline: none;
  border: 0;

  width: 0;
  height: 0;

  margin: 0;
  padding: 0;

  opacity: 0;

  overflow: hidden;
}
.switch[multiple] input[type="radio"]::before,
.switch[multiple] input[type="radio"]::after {
  border: 0;
}
.switch[multiple] input[type="radio"]:disabled ~ span {
  background: hsl(var(--sf-c-input) / 5%);
  opacity: var(--sf-disabled);
}
.switch[multiple] input[type="radio"]:checked ~ span {
  color: hsl(var(--sf-c-white));
  background: hsl(var(--sf-c-info));
}
