.switch {
  --sf-switch-size: 1em;

  cursor: pointer;

  position: relative;

  display: grid;
  grid-template-columns: calc(var(--sf-switch-size) * 2) max-content;
  grid-template-rows: var(--sf-switch-size);

  align-items: center;
  justify-content: start;

  width: max-content;
}
.switch[disabled] { cursor: not-allowed }
.switch input[type="checkbox"] {
  appearance: none;

  border: 0;
  background: none;
  outline: none;

  padding: 0;
  margin: 0;
}
.switch input[type="checkbox"]::before {
  top: 0;
  left: 0;
  position: absolute;

  width: calc(var(--sf-switch-size) * 2);
  height: var(--sf-switch-size);
  content: '';

  background: hsla(var(--sf-c-input), 0.2);
  border-radius: calc(var(--sf-switch-size) / 2);
}
.switch input[type="checkbox"]::after {
  top: 2px;
  left: 2px;
  position: absolute;

  width: calc(var(--sf-switch-size) - 2px * 2);
  height: calc(var(--sf-switch-size) - 2px * 2);

  content: '';

  background: hsl(var(--sf-c-white));
  border-radius: calc(var(--sf-switch-size) / 2);
  box-shadow: 0 0 0 1px hsl(var(--sf-c-white));

  transition: transform 0.05s ease-in;
}
.switch input[type="checkbox"]:checked::before {
  background: hsla(var(--sf-c-info), 1);
}
.switch input[type="checkbox"]:checked::after {
  transform: translate3d(var(--sf-switch-size), 0, 0);
  background: hsl(var(--sf-c-white));
}
.switch input[type="checkbox"]:disabled {
  opacity: var(--sf-disabled);
}
