:root {
  --sf-form-ff: 'Inter', ui-sans-serif, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sf-form-fz: 0.9375rem;
  --sf-form-fz-small: 0.75rem;
  --sf-disabled: 0.4;
  --sf-form-p-input-block: 0.5em;
  --sf-form-p-input-inline: 0.5em;
  --sf-form-switch-size: 1rem;
}

.sf-switch { box-sizing: border-box }

.sf-switch.multiple *,
.sf-switch.multiple *::before,
.sf-switch.multiple *::after
{ box-sizing: inherit }

.sf-switch {
  font-size: var(--sf-form-fz);
  font-family: var(--sf-form-ff);
  font-weight: 400;
  line-height: 1;

  text-transform: none;
}

label.sf-switch input[type='checkbox'] {
  position: relative;

  appearance: none;

  border: 0;
  background: none;

  padding: 0;
  margin: 0;

  width: calc(var(--sf-form-switch-size) * 2);
  height: var(--sf-form-switch-size);

  vertical-align: text-top;
}
label.sf-switch input[type='checkbox']::before {
  cursor: pointer;

  top: 0;
  left: 0;
  position: absolute;

  width: calc(var(--sf-form-switch-size) * 2);
  height: var(--sf-form-switch-size);
  content: '';

  background: hsl(var(--sf-c-form-bd) / 20%);
  border-radius: calc(var(--sf-form-switch-size) / 2);
}
label.sf-switch input[type='checkbox']::after {
  cursor: pointer;

  top: 2px;
  left: 2px;
  position: absolute;

  width: calc(var(--sf-form-switch-size) - 2px * 2);
  height: calc(var(--sf-form-switch-size) - 2px * 2);

  content: '';

  background: hsl(var(--sf-c-form-white));
  border-radius: calc(var(--sf-form-switch-size) / 2);
  box-shadow: 0 0 0 1px hsl(var(--sf-c-form-white));

  transition: transform 0.05s ease-in;
}
label.sf-switch input[type='checkbox']:checked::before { background: hsl(var(--sf-c-form-info)) }
label.sf-switch input[type='checkbox']:checked::after { transform: translate3d(var(--sf-form-switch-size), 0, 0) }

label.sf-switch input[type='radio'] ~ *,
label.sf-switch input[type='checkbox'] ~ *
{ cursor: pointer }

.sf-switch.multiple .sf-switch-toggle {
  display: inline-block;

  background: hsl(var(--sf-c-form-bg) / 20%);
  box-shadow: 1px 2px 8px 0 hsl(var(--sf-c-form-bd) / 15%);
}
.sf-switch.multiple .sf-switch-toggle * { display: inline-block }
.sf-switch.multiple .sf-switch-toggle label { position: relative }
.sf-switch.multiple .sf-switch-toggle span {
  font-size: var(--sf-form-fz-small);
  text-align: center;

  min-width: 32px;

  padding: var(--sf-form-p-input-block) var(--sf-form-p-input-inline);

  background: hsl(var(--sf-c-form-bd) / 5%);
}

.sf-switch.multiple input[type='checkbox'],
.sf-switch.multiple input[type='radio']
{
  appearance: none;

  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  border: 0;

  opacity: 0;
}
.sf-switch.multiple input[type='checkbox']::before,
.sf-switch.multiple input[type='radio']::before,
.sf-switch.multiple input[type='checkbox']::after,
.sf-switch.multiple input[type='radio']::after
{ content: none }

.sf-switch.multiple input[type='checkbox']:checked ~ span,
.sf-switch.multiple input[type='radio']:checked ~ span
{
  color: hsl(var(--sf-c-form-white));
  background: hsl(var(--sf-c-form-info));
}

.sf-switch.multiple.vert .sf-switch-toggle { flex-flow: column }

.sf-switch.multiple .sf-switch-description {
  font-size: var(--sf-form-fz-small);
  margin: 0.5em 0 0;
  padding: 0 0 0.5em;
}

.sf-switch input[type='checkbox']:disabled,
.sf-switch input[type='checkbox']:disabled::after,
.sf-switch input[type='checkbox']:disabled::before,
.sf-switch input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input[type='checkbox']:disabled,
.sf-switch.multiple input[type='radio']:disabled,
.sf-switch.multiple input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input[type='radio']:disabled ~ *
{
  cursor: not-allowed;
}

.sf-switch input[type='checkbox']:disabled,
.sf-switch input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input[type='checkbox']:disabled ~ *,
.sf-switch.multiple input[type='radio']:disabled ~ *
{ opacity: var(--sf-disabled) }

.sf-switch input[type='checkbox']:focus-visible,
.sf-switch input[type='radio']:focus-visible
{
  border-color: transparent;
  outline: 2px solid hsl(var(--sf-c-form-info));
}
.sf-switch:not(.multiple) input[type='checkbox']:focus-visible,
.sf-switch:not(.multiple) input[type='radio']:focus-visible
{
  border-radius: calc(var(--sf-form-switch-size) / 2)
}

/* /// */

html.var .sf-switch {
  font-size: 15px;
  font-family: 'Inter', ui-sans-serif, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html.var label.sf-switch input[type='checkbox'] {
  width: 16px;
  height: 16px;
}
html.var label.sf-switch input[type='checkbox']::before {
  width: 16px;
  height: 16px;
  background: hsla(0, 0%, 10%, 0.2);
  border-radius: 8px;
}
html.var label.sf-switch input[type='checkbox']::after {
  width: 28px;
  height: 28px;
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 100%);
}
html.var label.sf-switch input[type='checkbox']:checked::before { background: hsl(200, 100%, 60%) }

html.var .sf-switch.multiple .sf-switch-toggle {
  background: hsla(0, 0%, 90%, 0.2);
  box-shadow: 1px 2px 8px 0 hsla(0, 0%, 10%, 0.15);
}
html.var .sf-switch.multiple .sf-switch-toggle span {
  font-size: 12px;
  padding: 8px;
  background: hsla(0, 0%, 10%, 0.1);
}

html.var .sf-switch.multiple input[type='checkbox']:checked ~ span,
html.var .sf-switch.multiple input[type='radio']:checked ~ span
{
  color: hsl(0, 0%, 100%);
  background: hsl(200, 100%, 60%);
}

html.var .sf-switch.multiple .sf-switch-description { font-size: 12px }

html.var .sf-switch input[type='checkbox']:disabled ~ *,
html.var .sf-switch.multiple input[type='checkbox']:disabled ~ *,
html.var .sf-switch.multiple input[type='radio']:disabled ~ *
{ opacity: 0.4 }

html.var .sf-switch input[type='checkbox']:focus-visible,
html.var .sf-switch input[type='radio']:focus-visible
{ outline: 2px solid hsl(200, 100%, 60%) }

html.var .sf-switch:not(.multiple) input[type='checkbox']:focus-visible,
html.var .sf-switch:not(.multiple) input[type='radio']:focus-visible
{ border-radius: 8px }
