textarea.textarea {
  appearance: none;
  color: hsl(var(--sf-c-txt));

  resize: vertical;
  line-height: 1.5;

  padding-block: var(--sf-p-input-block);
  padding-inline: var(--sf-p-input-inline);

  border: 1px solid hsla(var(--sf-c-input), 0.2);
  background: none;
  outline: none;

  min-height: calc(7em + var(--sf-p-input-block) / 4);

  border-radius: var(--sf-bd-radius);
}

textarea.textarea:read-only,
textarea.textarea:disabled {
  background: hsla(var(--sf-c-input), 0.05);
  border-color: transparent;
}

textarea.textarea:disabled {
  resize: none;
}

textarea.textarea:focus { border-color: hsl(var(--sf-c-info)) }
