.sf-textarea {
  font-size: 15px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.499535;

  color: hsl(var(--sf-c-form-txt));
  background: hsl(var(--sf-c-form-bg) / 20%);

  border-style: solid;
  border-color: hsl(var(--sf-c-form-bd) / 20%);
  border-width: 1px;

  width: 100%;
  max-width: 100%;
  min-height: calc((1.499535em + 2px + var(--sf-elm-py)) * 4);

  padding: var(--sf-elm-py) var(--sf-elm-px);

  border-radius: 3px;

  resize: vertical;

  overflow: auto;

  box-sizing: border-box;
}

/* Prevent zoom on tablet and mobile devices */
@media only screen and (max-width: 1024px) {
  .sf-textarea { font-size: 16px }
}

.sf-textarea::placeholder { color: hsl(var(--sf-c-form-txt) / 40%) }

.sf-textarea:disabled {
  cursor: not-allowed;

  resize: none;

  opacity: var(--sf-disabled);
}

.sf-textarea:focus-visible {
  outline: 1px solid hsl(var(--sf-c-form-info));
  outline-offset: -1px;
}

/* /// */

html.var .sf-textarea {
  min-height: calc((1.499535em + 2px + 0.5em) * 4);

  padding: 8px;
}

html.var .sf-textarea:not([class*='sf-c-']) {
  color: hsl(0, 0%, 10%);
  background: hsla(0, 0%, 90%, 0.2);
}
html.var .sf-textarea:not(.bd\:c\:ii) { border-color: hsla(0, 0%, 10%, 0.2) }

html.var .sf-textarea::placeholder { color: hsla(0, 0%, 10%, 0.4) }
html.var .sf-textarea:disabled { opacity: 0.4 }
html.var .sf-textarea:focus:valid { border-color: hsl(200, 100%, 60%) }
