textarea.sf-textarea {
  appearance: none;
  display: block;

  line-height: 1.5;

  color: hsl(var(--sf-form-c-txt));
  background: hsl(var(--sf-form-c-bg) / 20%);
  border: 1px solid hsl(var(--sf-form-c-bd) / 20%);

  width: 100%;
  min-height: calc(7em + var(--sf-form-p-input-block) / 4);

  resize: vertical;
}

textarea.sf-textarea:disabled { resize: none }
