input.sf-input:is(
  [type='time'],
  [type='week'],
  [type='month'],
  [type='date'],
  [type='datetime-local']
)
{
  appearance: none;
  text-align: start;
  height: 37px;
}

input.sf-input:is(
  [type='time'],
  [type='week'],
  [type='month'],
  [type='date'],
  [type='datetime-local']
)::-webkit-date-and-time-value {
  text-align: start;
}
