:root {
  --sf-input-width: 32px;
  --sf-input-hight: 32px;

  --sf-disabled: 0.4;
  --sf-elm-py: 0.5em;
  --sf-elm-px: 0.5em;

  /* color */
  --sf-c-form-white: 0 0% 100%;
  --sf-c-form-info: 200 100% 60%;
  --sf-c-form-error: 0 100% 60%;
  --sf-c-form-success: 0 100% 60%;
  --sf-c-form-warning: 39 100% 50%;

  --sf-c-form-bg: 0 0% 90%;
  --sf-c-form-bd: 0 0% 10%;
  --sf-c-form-loading: 0 0% 10%;
  --sf-c-form-txt: 0 0% 10%;

  /* colors for dark theme */
  --sf-dark-c-form-white: 0 0% 100%;
  --sf-dark-c-form-info: 219 79% 66%;
  --sf-dark-c-form-error: 0 100% 65%;
  --sf-dark-c-form-success: 0 100% 65%;
  --sf-dark-c-form-warning: 39 100% 60%;

  --sf-dark-c-form-bg: 0 0% 20%;
  --sf-dark-c-form-bd: 0 0% 100%;
  --sf-dark-c-form-loading: 0 0% 100%;
  --sf-dark-c-form-txt: 0 0% 90%;
}

html[data-theme='dark'], html.dark {
  color-scheme: dark;

  --sf-c-form-white: var(--sf-dark-c-form-white);

  --sf-c-form-bg: var(--sf-dark-c-form-bg);
  --sf-c-form-error: var(--sf-dark-c-form-error);
  --sf-c-form-success: var(--sf-dark-c-form-success);
  --sf-c-form-warning: var(--sf-dark-c-form-warning);
  --sf-c-form-info: var(--sf-dark-c-form-info);
  --sf-c-form-bd: var(--sf-dark-c-form-bd);
  --sf-c-form-loading: var(--sf-dark-c-form-loading);
  --sf-c-form-txt: var(--sf-dark-c-form-txt);
}

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'], html.auto {
    color-scheme: dark;

    --sf-c-form-white: var(--sf-dark-c-form-white);

    --sf-c-form-bg: var(--sf-dark-c-form-bg);
    --sf-c-form-error: var(--sf-dark-c-form-error);
    --sf-c-form-success: var(--sf-dark-c-form-success);
    --sf-c-form-warning: var(--sf-dark-c-form-warning);
    --sf-c-form-info: var(--sf-dark-c-form-info);
    --sf-c-form-bd: var(--sf-dark-c-form-bd);
    --sf-c-form-loading: var(--sf-dark-c-form-loading);
    --sf-c-form-txt: var(--sf-dark-c-form-txt);
  }
}
